@import 'tailwindcss';
@plugin "daisyui" {
  themes: cupcake --default;
  exclude: rootscrollgutter;
}

@plugin "daisyui/theme" {
  default: true;
  --radius-field: 0.25rem;
}

@import './custom.css';
